.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  .navbar-logo img {
    width: 100px;
  }

  a {
    font-size: 18px;
    font-weight: bolder;
  }

  .navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;

    li {
      margin: 10px;
    }

    li a {
      text-decoration: none;
      color: #000;
      transition: color 0.3s ease;

      &.active-link {
        color: #007bff; // Change this color as needed
      }
    }

    i {
      margin-right: 5px;
    }
  }

  .navbar-settings {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      color: #000;
      text-decoration: none;
    }

    img {
      width: 30px;
      border-radius: 50%;
    }
  }
}
.navbar .user-menu {
  position: absolute;
  right: 20px;
  top: 60px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar .user-menu p {
  margin: 0 0 10px 0;
  color: #000;
  font-weight: bolder;
}

.navbar .user-menu button {
  background-color: #000;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bolder;
}
