<nav class="navbar">
    <div class="navbar-logo">
      <img src="assets/img/tosL.png" alt="T.O.S logo"> 
    </div>
    <ul class="navbar-nav">
      <li><a  routerLink="/vehicles" (click)="onNavItemClicked('vehicles')"><i class="fa fa-truck"></i>Vehicles</a></li>
      <li><a routerLink="/planning" (click)="onNavItemClicked('planning')"><i class="fa fa-calendar-days"></i>Planning</a></li>
      <li><a routerLink="/tracking" (click)="onNavItemClicked('tracking')"><i class="fa fa-map-location-dot"></i>Tracking</a></li>
    </ul>
    <div class="navbar-settings">
      <a href="#" style="margin-right: 20px;"><i class="fa fa-cog"></i> Settings</a>
      <a href="#" style="margin-right: 20px;"><i class="fa fa-bell"></i></a>
      <a href="#"><i class="fa fa-user"></i></a>
    </div>
  </nav>
  