<div class="popup">
    <div class="popup-content">
        <span class="close-button" (click)="close.emit()">×</span>
        <h2 class="popup-title">Driver Details</h2>
        <form (ngSubmit)="updateDriver()" class="popup-form">
            <div class="form-group">
                <label class="floating-label">
                    First Name:
                    <input type="text" [(ngModel)]="driver.first_name" name="first_name" placeholder="First Name" />
                </label>
                <label class="floating-label">
                    Last Name:
                    <input type="text" [(ngModel)]="driver.last_name" name="last_name" placeholder="Last Name" />
                </label>
            </div>
            <div class="form-group">
                <label class="floating-label">
                    Phone Number:
                    <input type="text" [(ngModel)]="driver.phone_number" name="phone_number" placeholder="Phone Number" />
                </label>
                <label class="floating-label">
                    Email:
                    <input type="email" [(ngModel)]="driver.email" name="email" placeholder="Email" />
                </label>
            </div>
            <div class="form-group">
                <label class="floating-label">
                    Driver License Number:
                    <input type="text" [(ngModel)]="driver.driver_license_number" name="driver_license_number" placeholder="Driver License Number" />
                </label>
            </div>
            <button class="submit-button" type="submit">Update</button>
        </form>
    </div>
  </div>
  